.task-tag {

  height: 19px;
  width: fit-content;

  padding: 2px 8px;

  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;

  color: #838383;

  background: #F5F5F5;
  border-radius: 6px;

  &--blue {
    background: rgba(60, 134, 244, 0.31);
    color: #0053CF;
  }

  &--purple {
    background: #E8D7FF;
    color: #9747FF;
  }

  &--green {
    background: #E2F6E2;
    color: #639462;
  }

  &--orange {
    background: #FFECC7;
    color: #EA8C00;
  }

}
